
<section class="page-section simple-landing-splash">
<div class="inner-column">

  <aside class="message">
    <h2 class="heading">Welcome to <br /> this theme!</h2>

    <h3 class="subheading">Subheading</h3>

    <footer class="actions">
      <a class="button" href="">
        <span>Action</span>
      </a>
    </footer>
  </aside>

</div>  
</section>
