
<section class="page-section story-diptych">
<div class="inner-column">

  <aside class="visual">
    <figure class="image">
      <img src="https://placehold.it/1600" />
    </figure>
  </aside>

  <aside class="story">
    <h2 class="heading">Heading</h2>

    <h3 class="subheading">Subheading</h3>
    
    <div class="content rich-text">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit aperiam, earum sit quisquam maiores.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit aperiam, earum sit quisquam maiores.</p>
    </div>
  </aside>

</div>  
</section>
