<!doctype html>
  <head>
    {% include 'head' %}
    {{ content_for_header }} <!-- insert for plugins -->
  </head>

  <body class='site'>

    <header class='page-section site-header'>
    <div class='inner-column'>
      {% include 'masthead' %}
    </div>
    </header>

    <main class='page-content'>
      {{ content_for_layout }}
    </main>

    <footer class='site-footer'>
      {% include 'footer-content' %}
    </footer>

  </body>
</html>