
{% assign this = section.settings %}
{% assign this.imageSrc = this.image | img_url: "medium" %}


<section class='page-section standard-diptych'>
<div class='inner-column'>

  <main class='content'>
    <aside class='visual'>
      <figure class='image'>
        <img src='{{this.imageSrc}}' />
      </figure>
    </aside>

    <aside class='story'>
      <h2 class='heading'>
        <span>{{this.heading}}</span>
      </h2>

      <h3 class='subheading'>
        <span>{{this.subheading}}</span>
      </h3>

      <div class='richtext'>
        {{this.content}}
      </div>
    </aside>
  </main>

</div>
</section>



{% schema %}
  {
    "name": "Frequent questions",
    "presets": [
      {
        "name": "Frequent questions",
        "category": "Modules"
      }
    ],
    "settings": [
      {
        "type": "text",
        "id": "section-heading",
        "label": "Section heading  dsfsdf",
        "default": "Section heading"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Standard Diptych Heading"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "Standard Diptych Subheading"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Rich text",
        "default": "<p>Standard Diptych Rich text content. Standard Diptych Rich text content. Standard Diptych Rich text content.</p>"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ],
    "blocks": [
      {
        "type": "select",
        "name": "example text",
        "settings": [
          {
            "type": "text",
            "id": "text1",
            "label": "example block thing"
          }
        ]
      }
    ]
  }
{% endschema %}



{% stylesheet %}
{% endstylesheet %}



{% javascript %}
{% endjavascript %}
