
<section class='page-section'>
<div class='inner-column'>

  <h1>{{section_title}}</h1>
  
  <p>{{section_description}}</p>

</div>
</section>



{% schema %}
  {
    "name": "Standard diptych",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading"
      },
      {
        "type": "textarea",
        "id": "content",
        "label": "Rich text"
      }
	]
  }
{% endschema %}



{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
