
<section class='page-section'>
<div class='inner-column'>

{% paginate collection.products by 2 %}
  <h1>{{ collection.title }}</h1>

  <ol class='item-list product-list'>
    {% for product in collection.products %}
      <li class='item'>
        {% include 'product-overview' %}
      </li>
    {% else %}
      <p>no matches</p>
    {% endfor %}
  </ol>

  <footer>
    {% if paginate.pages > 1 %}
      {{ paginate | default_pagination }}
    {% endif %}
  </footer>
{% endpaginate %}
  
</div>
</section>
